<div class="container">  
    <div class="sub">
      <h2 class="criarProduto">Faturar <br>Produto {{this.fatura.idProduto}}</h2>
    </div>
    <div class="caixa" id="categoria">
      <input placeholder="cliente" type="text" [(ngModel)]="this.fatura.cliente">
    </div>
    <div class="caixa mensagem erro">
      {{mensagem_erro}}
    </div>
    <div class="caixa">
      <button (click)="novaFatura()">Faturar</button>
    </div>    
    <div class="caixa cancelar">
      <button (click)="cancelar()">Cancelar</button>
    </div>  
  </div>