<div class="container">  
    <div class="sub">
      <h2 class="criarProduto">Faturar <br>Produto id</h2>
    </div>
    <div class="caixa" id="id">
      <input placeholder="id" type="text" [(ngModel)]="this.fatura.cliente">
    </div>
    <div class="caixa" id="categoria">
      <input placeholder="categoria" type="text" [(ngModel)]="this.fatura.nif">
    </div>
    <div class="caixa mensagem erro">
      {{mensagem_erro}}
    </div>
    <div class="caixa">
      <button (click)="faturarProduto()">Faturar</button>
    </div>    
    <div class="caixa cancelar">
      <button (click)="cancelar()">Cancelar</button>
    </div>  
  </div>