


<div class="container">  
    <header>
      <h1 class="bem-vinda">Bem-vindo(a) <br>{{this.funcionario.nome}}</h1>
    </header>   
    <div class="caixas">
      <button (click)="criarDiario()" class="diario">Criar Diário</button>
      <button (click)="consultarHistorico()" class="historico">Consultar Histórico</button>
      <ul class="listaProdutos">
        <li class="produto1">
          <span class="data">20/09</span><span class="encomenda">EN500</span><span class="produto">AVL Branco</span><span class="quantidade">230</span>
        </li>
        <li class="produto2">
          <span class="data">20/09</span><span class="encomenda">EN500</span><span class="produto">AVL Branco</span><span class="quantidade">230</span>
        </li>
        <li class="produto3">
          <span class="data">20/09</span><span class="encomenda">EN500</span><span class="produto">AVL Branco</span><span class="quantidade">230</span>
        </li>
        <li class="produto4">
          <span class="data">20/09</span><span class="encomenda">EN500</span><span class="produto">AVL Branco</span><span class="quantidade">230</span>
        </li>       
      </ul>
    </div>      
  </div>