body {
    font-family: 'Work Sans', sans-serif;
    font-size: 32pt;
    color: #090121;
    background-image: url(../../../../links/background.svg);
    background-size: cover;
    display: flex-start;
}

.container {
    border-radius: 1vw;
    background-color: rgba(255, 255, 255, 0.85);
    width: 92vw;
    height: 156vw;
    position: relative;
    margin: auto;
    z-index: 2;
    top: 40vw;
}

.caixas {
    position: relative;
    margin-top: 48vw;
}

.diario, .historico {
    position: relative;
    border-radius: 1vw;
    color: white;
    text-align: center;
    height: 12vw;
    padding: 4vw;
    margin: 4vw;
}

.diario {
    background-color: #090121;
}

.historico {
    background-color: #004487;
}

.listaProdutos {
    position: relative;
    border-radius: 1vw;
    color: #090121;
    border: #090121 1px solid;
    text-align: left;
    font-size: 32pt;
    height: 40vw;
    padding: 5%;
    margin: 4vw;
    margin-top: 12vw;
}


header {
    text-align: center;
    font-size: 64pt;
    font-weight: 600;
    z-index: 4;
    position: relative;
    top: 28vw;
}

.encomenda, .produto {
    margin-left: 4vw;
}

.quantidade {
    margin-left: 8vw;
}

li {
    line-height: 1.8em;
}
