<div class="container">
  <div class="super">
    <h1>Produtos</h1>
  </div>
  <div class="sub">
    <h2>Login</h2>
  </div>
  <div class="caixa">
    <input placeholder="id" type="text" [(ngModel)]="this.login.id">
  </div>
  <div class="caixa">
    <input placeholder="palavra-passe" type="password" [(ngModel)]="this.login.palavraPasse">
  </div>
  <div class="caixa mensagem erro">
    {{mensagem_erro}}
  </div>
  <div class="caixa">
    <button (click)="entrar()">Entrar</button>
  </div>
  <div class="caixa mensagem">
    <a (click)="recuperarPalavraPasse()">Recuperar palavra-passe?</a>
  </div>   
</div>