html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, iframe {
  vertical-align: bottom;
  max-width: 100%;
}

input, textarea, select {
  font: inherit;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/***************************
****************************
****************************
****************************
****************************
****************************/





body {
    font-family: 'Work Sans', sans-serif;
    font-size: 12pt;
    color: #090121;
    background-color: #f1f1f1;
}

.container, .super, .sub, .caixa, .lista, .box {
    justify-content: center;
    flex-wrap: wrap;
}

.container, input, button, .box {
    border-radius: 5px;
} 

.container, .box {
    background-color: rgba(255, 255, 255, 0.85);
}

.container {
    width: 92vw;
    max-width: 780px;

    height: 64vh;
    max-height: 600px;
    min-height: 360px;

    margin: 23vh auto auto;
    padding: auto;
    position: relative;

    display: block;
    align-items: center;
}


.super, .caixa, .lista, li {
    display: flex;
    align-items: center;
}

.super {    /*background-color: rgba(150,150,150, 0.5);*/   
    height: 20vh;
    max-height: 180px;
    min-height: 108px;
}

.sub,.caixa, input, button {
    height: 5.5vh;
    max-height: 45px;
    min-height: 27px;
    margin: 1.5vh 0;
}

.sub {    /*background-color: rgba(150,150,150, 0.5);*/ 
    display: flex;
    align-items: flex-end;
}

h1, h2, h3, button, .mensagem {
    text-align: center;
}

h1, h2 {
    font-weight: 600;
}

h1 {
    padding-top: 0.5em;
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
    font-weight: 400;
}

input, button, .mensagem a {    
    font-family: 'Work Sans', sans-serif;
    font-size: 12pt;
    text-decoration: none;
}

input, button, ul {
    width: 68vw;
    max-width: 300px;
}

input, button {
    border: #090121 1px solid;
    background: none;

    padding: 0px;
    position: absolute;
}

button {
    color: #ffffff;
    background-color: #090121;
}

input {
    padding-left: 0.75em;
}


input:focus, button {
    outline: none;
}

::placeholder {
    color: #090121;
    opacity: 0.5;
}

.mensagem {
    align-items: flex-start;
}

.erro {
    color: #EA5160;
}

a {
    color: #004487;
}

a:hover {
    text-decoration: underline;
}

.lista, ul {
    padding: 1.5vh;
    height: 20vh;
}

ul {
    overflow: scroll;
}

li {
    border-bottom: #C0D5FF 1px solid;
    justify-content: space-between;
    font-size: 0.75em;
    line-height: 2.25em;
    padding: 0 0.75em;
}

li:last-child {
    border-bottom: 0px;
}

.cancelar button {
    background-color: #E9F1FF;
    border: #C0D5FF 1px solid;
    color: #090121;
}

.container.alternativo {
    background-color: rgba(255, 255, 255, 0);
    width: 68vw;
    max-width: 300px;
}

.sub.alternativo {
    height: 10.5vh;
    max-height: 105px;
    min-height: 63px;
}

.box { 
    height: 22.5vh;
    max-height: 225px;
    min-height: 135px;

    margin-top: 5.5vh;
    padding: 1.5vw;
}

.imagem {
    height: 12.5vh;
    background-image: url("../src/app/img/produto.svg");
    background-repeat: no-repeat;
    background-position: center;
}









