html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, iframe {
  vertical-align: bottom;
  max-width: 100%;
}

input, textarea, select {
  font: inherit;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin: 0;
    padding: 0;
}

/***************************
****************************
****************************
****************************
****************************
****************************/





body {
    font-family: 'Work Sans', sans-serif;
    font-size: 12pt;
    color: #090121;
    background-color: #F0F0F7;

    background-image: url("../../../../GH_GitHub_CRE_SQL-21.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    border-radius: 5px;
    width: 92vw;
    max-width: 780px;
    height: 74vh;
    max-height: 600px;
    min-height: 360px;
    margin: 18.679vh auto auto;
    padding: 0;
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0);
}


.caixa {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    height: 5.545vh;
    max-height: 45px;
    min-height: 27px;
    margin: 1.848vh 0;
}

.super {    /*background-color: rgba(150,150,150, 0.5);*/   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 20.33vh;
    max-height: 300px;
    min-height: 108px;
    
}


.sub {    /*background-color: rgba(150,150,150, 0.5);*/ 
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    align-items: flex-end;
    height: 5.545vh;
    max-height: 45px;
    min-height: 27px;
    margin: 1.848vh 0;
}

h1 {
    font-weight: 600;
    text-align: center;
    font-size: 32px;
}

h2 {
    font-weight: 600;
    text-align: center;
    font-size: 24px;
}

h3 {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.mensagem {
    text-align: center;
    align-items: flex-start;
}

.mensagem a {    
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 12pt;
    text-decoration: none;
}

.erro {
    color: #EA5160;
}

a {
    color: #004487;
}

a:hover {
    text-decoration: underline;
}

button {
    border-radius: 5px;
    width: 68vw;
    max-width: 300px;
    border: #090121 1px solid;
    background: none;
    padding: 0px;
    position: absolute;
    height: 5.545vh;
    max-height: 45px;
    min-height: 27px;
    margin: 1.848vh 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 12pt;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    background-color: #090121;
    outline: none;
}

input {
    border-radius: 5px;
    width: 68vw;
    max-width: 300px;
    border: #090121 1px solid;
    background: none;
    padding: 0px;
    position: absolute;
    height: 5.545vh;
    max-height: 45px;
    min-height: 27px;
    margin: 1.848vh 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 12pt;
    text-decoration: none;
    background-color: #FFFFFF;
    padding-left: 0.75em;
}

input:focus {
    outline: none;
}



.lista {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 27.723vh;
    margin: 1.848vh 0;
}

ul {
    width: 68vw;
    max-width: 300px;
    height: 100%;
    overflow: scroll;
}

li {
    border-radius: 5px;
    width: 68vw;
    max-width: 300px;
    border: #C0D5FF 1px solid;
    display: flex;
    justify-content: space-between;
    font-size: 0.75em;
    line-height: 2.25em;
    padding: 0 0.75em;
    height: 5.545vh;
    max-height: 45px;
    min-height: 27px;
    margin: 0.924vh 0;
    background-color: #FFFFFF;
}

li:first-child {
    margin-top: 0;
}

.coluna1 {
    width: 35%;
    display: block;
}

.coluna2 {
    width: 65%;
    display: block;
}

.funcionario, .data, .descricao, .nome {
    display: block;
}

.linha1 {
    display: flex;
    justify-content: space-evenly;
}

.produto {
    margin-right: auto;
}

.data, .descricao, .nome {
    margin-top: -7pt;
}

.funcionario, .data, .nome {
    color: #004487;
}

.box { 
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 5px;
    height: 27.723vh;
    max-height: 225px;
    min-height: 135px;
    margin-top: 9.4vh;
    padding: 8vw;
    background-color: rgba(255, 255, 255, 0.75);
    align-items: center;
    display: block;
}

.imagem {
    height: 12.5vh;
    background-image: url("../src/app/img/produto.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.imagem svg {
    outline: #EA5160;
}

.consulta {
    background-color: #F0F0F7;
    color: #090121;
    border: none;
}

.caixa-admin {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5.545vh;
    max-height: 45px;
    min-height: 27px;
    width: 68vw;
    max-width: 300px;
    margin: 1.848vh auto;
    position: relative;    
}











