.caixas {
    position: relative;
    margin-top: 32vw;
}

.caixa {
    border: none;
    height: 4vw;
    text-align: center;
}

#data {
    margin-bottom: 12vw;
}

button {
    position: relative;
    border-radius: 1vw;
    text-align: center;
    padding: 4vw;
    margin: 4vw 12vw 0vw 12vw;
}

.anular {
    border:  #EA5160 1px solid;
    background-color: #EA5160;
}

.faturar {
    border: #004487 1px solid;
    background-color: #004487;
}