.l, .login {
    color: #004487;
}

.login {
    margin-top: 12vw;
}

.id, .palavra-passe {
    position: relative;
    border-radius: 1vw;
    border: #090121 1px solid;
    text-align: left;
    padding: 4vw;
    margin: 4vw;
    margin-left: 12vw;
    margin-right: 12vw;
}

.entrar {
    position: relative;
    border-radius: 1vw;
    background-color: #090121;
    text-align: center;
    padding: 4vw;
    margin: 12vw;
    margin-bottom: 4vw;
}

.recuperar {
    text-align: center;
}

.recuperar a {

    font-size: 12pt;
    color: #004487;
    text-decoration: none;
}

.recuperar a:hover {
    text-decoration: underline;
}




