<div class="container">  
    <header>
      <h1 class="logo"><span class="tile">Tile</span><span class="together">Together</span></h1>
      <h2 class="login">Login</h2>
    </header>   
    <div class="caixas">
      <div class="utilizador">
        <input placeholder="utilizador" type="text" [(ngModel)]="login.utilizador">
      </div>
      <div class="palavra-passe">
        <input placeholder="palavra-passe" type="text" [(ngModel)]="login.palavraPasse">
      </div>
      <div class="incorreta">{{mensagem_erro}}</div>
      <div class="entrar">
        <button class="entrarTXT" (click)="doEntrar()">Entrar</button>
      </div>
      <div class="recuperar">
        <a href="">Recuperar palavra-passe?</a>
      </div>
    </div>      
  </div>