<div class="container">  
  <header>
    <h1 class="logo"><span class="v">Viúva</span><span class="l">Lamego</span></h1>
    <h2 class="login">Login</h2>
  </header>   
  <div class="caixas">
    <div class="caixa utilizador">
      <input placeholder="utilizador" type="text" [(ngModel)]="login.utilizador">
    </div>
    <div class="caixa palavra-passe">
      <input placeholder="palavra-passe" type="text" [(ngModel)]="login.palavraPasse">
    </div>
    <div class="erro">{{mensagem_erro}}</div>
    <button (click)="doEntrar()" class="entrar">Entrar</button>
    <div class="recuperar">
      <a (click)="recuperarPalavraPasse()">Recuperar palavra-passe?</a>
    </div>
  </div>      
</div>