
<div class="container">  
  <header>
    <h2 class="criarProduto">Criar Produto</h2>
  </header>   
  <div class="caixas">
    <div class="caixa" id="id">
      <input placeholder="ID Produto" type="text" [(ngModel)]="produto.id">
    </div>
    <div class="caixa" id="categoria">
      <input placeholder="Categoria Produto" type="text" [(ngModel)]="produto.categoria">
    </div>
    <div class="caixa" id="cor">
      <input placeholder="Cor Produto" type="text" [(ngModel)]="produto.cor">
    </div>
    <div class="caixa" id="pvp">
      <input placeholder="PVP Produto" type="number" [(ngModel)]="produto.pvp">
    </div>
    <div class="erro">{{mensagem_erro}}</div>
    <button (click)="criarProduto()" class="criar">Criar</button>
  </div>      
</div>