.criarProduto {
    color: #004487;
    margin-top: 12vw;
}

.caixa {
    position: relative;
    border-radius: 1vw;
    border: #090121 1px solid;
    text-align: left;
    padding: 4vw;
    margin: 4vw;
    margin-left: 12vw;
    margin-right: 12vw;
    
}

.criar {
    position: relative;
    border-radius: 1vw;
    background-color: #090121;
    text-align: center;
    padding: 4vw;
    margin: 4vw 12vw;
}

.nulo {
    position: relative;
    border-radius: 1vw;
    border: #EA5160 1px solid;
    text-align: left;
    padding: 4vw;
    margin: 4vw;
    margin-left: 12vw;
    margin-right: 12vw;
}
